<!-- Partial for displaying a comment -->
<% div_for comment do %>
<p>
  <b>Comment:</b>
  <p> Posted <%= time_ago_in_words(comment.created_at) %> ago </p>
  <%= comment.content %>
  <% end %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.recipe, comment],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>